@model ProjectFromStackOverflow.Models.Contractor

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

    <h1 class="display-4">Find Contractor</h1>
        <form method="post" asp-controller="Contractor" asp-action="ShowContractorPost">
            <div>
                <label asp-for ="Id"></label>
            </div>
            <div>
                <input asp-for="Id" class="form-control"/>
            </div>
           
            
            <input class="button" type="submit" value="Показать" />
        </form>

    
